footer
    width 100%
    background #EFEFEF
    padding 30px 0
    position relative
    &:before
        content ''
        width 100%
        height 1px
        position absolute
        top 10px
        left 0
        background #B0B0B0
    .center
        height 100%
        clearfix()
    .newsletter
        float left
        width 250px
        +mobile()
            width 100%
            margin-bottom 20px
        p
            montserrat 16
            text-transform uppercase
            color #757575
            display block
            margin 0 0 10px
            max-width 195px
            line-height 1.2
            +mobile()
                font-size 15px
                margin 0 auto 10px
                text-align center
        input
            width 100%
            background #fff
            border 0
            margin-bottom 4px
            padding 4px 6px
            outline 0
            play 12
            +placeholder()
                color #757575
            &[type='submit']
                width auto
                background #757575
                color #fff
                padding 4px 20px
                transition background .3s
                &:hover
                    background #000
        .response-wrapper
            height 20px
            display block
            margin-top 3px
            #form-newsletter-response
                play 12
                color darken($laranja, 5)
    .links
        float left
        margin-left 175px
        +tablet()
            margin 0
            float right
        +mobile()
            width 170px
            float left
            margin 0
            margin-left 50%
            transform translateX(-50%)
        clearfix()
        .logo
            float left
            .social
                width 100%
                display block
                text-align right
                font-size 0
                margin-top 10px
                +mobile()
                    text-align center
                a
                    display inline-block
                    width 16px
                    height 16px
                    opacity .5
                    transition opacity .3s
                    &:hover
                        opacity .9
                    + a
                        margin-left 3px
                    &.facebook
                        background $img('facebook.png') no-repeat center top
                    &.instagram
                        background $img('instagram.png') no-repeat center top
        .menu
            float left
            margin-left 20px
            +mobile()
                clear left
                margin 20px 0
                text-align center
                width 100%
            a
                display block
                play 14
                color #757575
                line-height 1.8
                &:hover
                    color #000
    .copyright
        float right
        padding-top 10px
        +tablet()
            width 100%
            float left
            text-align center
            br
                display none
            a
                display inline !important
        +mobile()
            width 100%
            float left
            text-align center
        p
            margin 0
            play 11
            color #757575
            line-height 1.2
            + p
                margin-top 10px
            a
                &:hover
                    color #000
                &:last-child
                    display block
