header
    background #fff
    width 100%
    height 190px
    +tablet()
        height 150px
    +below($mobile)
        height 100px
    .center
        height 100%
        clearfix()
    .logo
        width 220px
        height 100%
        display block
        float left
        margin-left 30px
        text-indent -9999px
        background $img('marca-infinityspaces.png') no-repeat center
        +below($tablet)
            margin-left 0
            width 180px
            background-size 100% auto
        +below($mobile)
            width 190px
    #nav-desktop
        +below($mobile)
            display none
        float left
        margin-left 65px
        height 100%
        position relative
        font-size 0
        padding-top 95px
        +tablet()
            margin-left 30px
            padding-top 75px
        a
            position relative
            display inline-block
            play 16
            margin-right 35px
            color #373435
            position relative
            &:after
                content ''
                width 2px
                height 2px
                background #373435
                position absolute
                right -20px
                top 50%
            +tablet()
                margin-right 12px
                font-size 15px
                &:after
                    display none
            &:last-child:after
                display none
            &:hover
            &.active
                color $laranja
    .lang
        float right
        width 24px
        height 24px
        display block
        position relative
        text-indent -9999px
        margin-top 93px
        +tablet()
            margin-left 20px
            margin-top 73px
        +below($mobile)
            position absolute
            right 49px
            top 50px
            margin 0
        &.lang-en
            background $img('en.png') no-repeat center
        &.lang-pt
            background $img('pt.png') no-repeat center
    .social
        float left
        height 16px
        position relative
        margin-top 97px
        +tablet()
            float right
            margin-top 77px
        +below($mobile)
            margin-top 0
            float none
            position absolute
            right 50px
            top 30px
        a
            display block
            width 16px
            height 16px
            text-indent -9999px
            transition background .3s
            float left
            + a
                margin-left 3px
            &.facebook
                background $img('facebook.png') no-repeat center top
            &.instagram
                background $img('instagram.png') no-repeat center top
            &:hover
                background-position center bottom
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 30px
        +below($mobile)
            margin-left 15px
        .lines
            display block
            width 100%
            height 4px
            background $laranja
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $laranja
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($mobile)
            display none !important
        display none
        background $laranja
        z-index 9999
        position relative
        border-bottom 4px solid darken($laranja, 8)
        padding 20px 0
        text-align center
        a
            display block
            color #fff
            play 15
            text-transform uppercase
            text-decoration none
            padding 4px 0
            &.active
                color #000
