.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.btn-perspectiva
    display inline-block
    border 2px solid #000
    play 18
    position relative
    padding 20px 20px 20px 85px
    transition background .3s, color .3s
    &:hover
        background #000
        color #fff
    &:before
        content ''
        position absolute
        width 65px
        height 100%
        border-right 2px solid #000
        left 0
        top 0
        background $img('360.png') no-repeat center #fff
    +mobile()
        font-size 16px
        padding 15px 15px 15px 80px
