desktop-base-width     = 1100px
rupture.desktop-cutoff = $tablet = 1180px
rupture.mobile-cutoff  = $mobile = 900px
rupture.anti-overlap   = -1px

$laranja = #FE6A0A

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Play:400,700');

montserrat($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

play($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Play', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
