.clientes
    width 100%
    .center
        clearfix()
    h2
        montserrat 30
        margin 0 0 15px
        +mobile()
            font-size 22px
            margin 15px 0
        +tablet()
            font-size 24px
    .clientes-imagens
        width 100%
        margin 30px 0 60px
        clearfix()
        +mobile()
            margin 20px 0
        img
            width calc('20% - 32px')
            display block
            margin-right 40px
            margin-bottom 25px
            float left
            &:nth-child(5n)
                margin-right 0
            +mobile()
                width calc('33.333% - 13.333px')
                margin-right 20px
                margin-bottom 20px
                &:nth-child(5n)
                    margin-right 20px
                &:nth-child(3n)
                    margin-right 0
