.contato
    width 100%
    .center
        clearfix()
    .info
        float left
        width 32.25%
        +below($tablet)
            width 100%
            margin-bottom 25px
        +mobile()
            padding-top 20px
        .telefone
            margin 0
            play 18
            line-height 1
        .endereco
            play 14
            line-height 1.3
            margin-bottom 0
    #form-contato
        float right
        width 65%
        +below($tablet)
            width 100%
        textarea
            width calc('50% - 60px')
            +mobile()
                width 100%
                margin 0
            float left
            margin 0 10px
            background #F3F2F2
            color #000
            border 0
            outline 0
            padding 10px
            play 14
            height 140px
            resize none
            +placeholder()
                color #757575
        .col
            float left
            width calc('50% - 60px')
            +mobile()
                width 100%
                margin-bottom 5px
        input
            +placeholder()
                color #757575
            width 100%
            display block
            height 40px
            background #F3F2F2
            color #000
            border 0
            outline 0
            padding 0 10px
            play 14
            + input
                margin-top 10px
                +mobile()
                    margin-top 5px
            &[type='submit']
                width 100px
                height 40px
                border 0
                outline 0
                transition background .3s
                background #808080
                montserrat 14
                color #fff
                margin-top 100px
                &:hover
                    background #000
                +mobile()
                    margin-top 5px
                    float left
                    width 100%
        .response-wrapper
            width 100%
            height 20px
            display block
            margin-top 10px
            text-align right
            padding-right 110px
            +mobile()
                text-align center
                padding 0
                float left
            #form-contato-response
                play 13
                color $laranja
    .mapa
        width 100%
        height 480px
        margin-top 40px
        +tablet()
            height 360px
        +mobile()
            height 280px
            margin-top 10px
        iframe
            width 100%
            height 100%
            display block
