.home
    width 100%
    padding-bottom 65px
    +mobile()
        padding-bottom 35px
    +tablet()
        padding-bottom 40px
    .banners
        width 100%
        height 700px
        position relative
        +mobile()
            height 350px
        +tablet()
            height 500px
        .slide
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-size cover
            background-position center
            .center
                height 100%
                span
                    position absolute
                    display block
                    width 100%
                    bottom 345px
                    color #fff
                    montserrat 40
                    text-shadow 0 1px 8px rgba(#000, .6)
                    +mobile()
                        font-size 28px
                        bottom auto
                        top 50%
                        transform translateY(-50%)
                    +tablet()
                        font-size 34px
                        bottom 235px
        .cycle-pager
            position absolute
            width 1100px
            left 50%
            bottom 305px
            margin-left -550px
            z-index 102
            +mobile()
                display none
            +tablet()
                width 90%
                margin-left 5%
                left 0
                bottom 200px
            a
                display block
                width 10px
                height 10px
                border-radius 100%
                float left
                margin-right 5px
                text-indent -9999px
                background #fff
                opacity .5
                transition opacity .3s
                &.cycle-pager-active
                    opacity 1
    h2
        montserrat 30
        margin 0
        +mobile()
            font-size 22px
        +tablet()
            font-size 26px
    .home-link
        display inline-block
        montserrat 16
        border 2px solid #000
        transition background .3s, color .3s
        padding 20px 24px
        +mobile()
            font-size 15px
            padding 18px 22px
        &:hover
            color #fff
            background #000
    .chamada
        text-align center
        clearfix()
        h2
            margin 1.4em 0 .5em
        p
            play 14
            max-width 820px
            margin 0 auto 1.5em
        img
            width 32.733%
            float left
            margin-right .9%
            +mobile()
                width 100%
                margin 0
            &:last-child
                margin-right 0
    .servicos
        text-align center
        clearfix()
        h2
            margin 2.4em 0 1em
            +mobile()
                margin-top 1.8em
        > p
            montserrat 18
            max-width 900px
            margin-left auto
            margin-right auto
            +mobile()
                font-size 16px
            +tablet()
                font-size 17px
        .servicos-wrapper
            width 100%
            clearfix()
            font-size 0
        .servico
            width 15.45%
            display inline-block
            vertical-align top
            margin-right 1.45%
            margin-bottom 1.45%
            &:nth-child(6n)
                margin-right 0
            .imagem
                width 100%
                padding-bottom 100%
                height 0
                background-color #F3F2F2
                background-position center
                background-repeat no-repeat
                border-radius 100%
            p
                montserrat 16
            +mobile()
                width 48%
                margin-bottom 1%
                margin-right 4%
                &:nth-child(2n)
                    margin-right 0 !important
                &:nth-child(6n)
                    margin-right 4%
            +tablet()
                width 23.5%
                margin-bottom 2%
                margin-right 2%
                &:nth-child(4n)
                    margin-right 0
                &:nth-child(6n)
                    margin-right 2%
                p
                    margin .5em 0
                    font-size 15px
                    line-height 1.3
        a
            margin-bottom 4em
            +below($tablet)
                margin-bottom 3em
    .projetos
        background #F3F2F2
        text-align center
        img
            width 100%
            height auto
            display block
        h2
        p
            max-width 820px
            margin 0 auto
        h2
            margin 1em auto .5em
        p
            play 14
        a
            margin 1.5em 0 2em
        +below($tablet)
            h2
            p
                padding 0 5%
    .contato
        text-align center
        h2
            margin 2em 0 .5em
