.imoveis-show
    padding-bottom 70px
    +tablet()
        padding-bottom 45px
    +mobile()
        padding-bottom 30px
        padding-top 10px
    .center
        clearfix()
    .imovel-imagens
        width 66.363%
        float left
        +tablet()
            width 56%
        +mobile()
            width 100%
            margin-top 20px
        a
            display block
            float left
            width calc('33.333% - 13.333px')
            margin-right 20px
            margin-bottom 20px
            position relative
            +mobile()
                width calc('33.333% - 6px')
                margin-right 9px
                margin-bottom 9px
            &:after
                content ''
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba(#707070, .8)
                opacity 0
                transition opacity .3s
            &:hover:after
                opacity 1
            &.destaque
                width 100%
                margin-right 0
            &:nth-child(3n+1)
                margin-right 0
            img
                width 100%
                display block
    .imovel-informacoes
        width 29.09%
        float right
        +tablet()
            width 39%
        +mobile()
            width 100%
        h2
            play 18 bold
            margin 55px 0 0
            + p
                margin-top 10px
            +tablet()
                margin-top 25px
            +mobile()
                font-size 16px
                margin-top 8px
                + p
                    margin-top 6px
        p
            play 13
        .caracteristicas
            margin-top 40px
            +mobile()
                margin-top 20px
            .titulo
                display block
                margin-bottom .8em
        .btn-perspectiva
            margin-top 40px
            +mobile()
                margin-top 10px
        .btn-contato
            display inline-block
            margin-top 75px
            border 2px solid #000
            play 18
            position relative
            padding 20px 32px
            transition background .3s, color .3s
            +mobile()
                margin-top 20px
            &:hover
                background #000
                color #fff
            +mobile()
                font-size 16px
                padding 15px 24px
