.infinity
    width 100%
    padding-bottom 75px
    +tablet()
        padding-bottom 50px
    +mobile()
        padding-bottom 30px
    .imagens
        width 100%
        margin-bottom 45px
        +tablet()
            margin-bottom 35px
        +mobile()
            margin-bottom 25px
        clearfix()
        img
            width 16.6667%
            height auto
            float left
            display block
            +mobile()
                width 33.333%
    .center
        clearfix()
    .left
        width 42.5%
        float left
        h2
            montserrat 30
            margin 0 0 1em
            line-height 1.1
            +tablet()
                font-size 26px
        .texto
            p
                play 14
                margin 1em 0
                &:first-child
                    margin-top 0
            h2
                margin 1.6em 0 1.6em 1.6em
                play 20
        img
            max-width 100%
            display block
            float right
            margin-top 30px
        +mobile()
            width 100%
            margin-bottom 30px
            h2
                font-size 22px
                margin-bottom .8em
            .texto
                h2
                    margin 1.2em 0 1.2em 1.2em
                    font-size 18px
            img
                width 100%
                max-width 220px
                margin-top 5px
    .right
        width 50%
        float right
        padding-top 95px
        +tablet()
            padding-top 0
        h3
            margin 0 0 1em
            montserrat 20
            padding-bottom 5px
            border-bottom 1px solid #ABABAB
        img
            float left
            margin-right 20px
            margin-bottom 15px
            +tablet()
                max-width 120px
        p
            play 14
            margin 0
            + p
                margin-top 1em
        +mobile()
            width 100%
            padding-top 0
            h3
                font-size 18px
                margin-bottom .8em
            img
                max-width 100px
                margin-bottom 5px
                margin-right 15px
