.midia-index
    .center
        clearfix()
        font-size 0
        text-align center
        +mobile()
            padding 15px 0
    a
        display inline-block
        margin 0 10px 30px
        +tablet()
            margin-bottom 18px
        +mobile()
            margin-bottom 15px
        .imagem
            position relative
            img
                +tablet()
                    height 240px
                +mobile()
                    max-width 100%
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background #707070
                opacity 0
                transition opacity .3s
                +mobile()
                    display none
        span
            play 12
            display block
            text-align left
            margin 5px 0 0
            transition color .3s
            +mobile()
                text-align center
        &:hover
            .imagem:after
                opacity .8
            span
                color $laranja

.midia-show
    +mobile()
        padding 15px 0
    img
        max-width 100%
        display block
        margin 0 auto 30px
        +tablet()
            margin-bottom 20px
        +mobile()
            margin-bottom 15px
    .links
        display inline-block
        width 100%
        margin 10px 0 50px
        text-align center
        font-size 0
        +mobile()
            margin 10px 0
        a
            display inline-block
            text-transform uppercase
            transition background .3s, color .3s
            border 2px solid #000
            montserrat 16
            padding 20px 24px
            margin 0 10px
            +mobile()
                font-size 15px
                padding 18px
                width 100%
                display block
                margin 0 0 5px
            &:hover
                color #fff
                background #000
