.projetos-categorias
    width 100%
    margin 0
    position relative
    top -60px
    a
        display block
        play 14
        line-height 1.5
        text-align right
        width 585px
        +tablet()
            width 466px
        &:hover
        &.active
            color $laranja
    +tablet()
        top -40px
    +mobile()
        top 0
        margin 10px 0 5px
        a
            text-align left
            width 100%

.projetos-index
    padding-bottom 70px
    +tablet()
        padding-bottom 45px
    +mobile()
        padding 15px 0 30px
    .center
        clearfix()
    a
        width 33.333%
        float left
        display block
        position relative
        border-right 1px solid #fff
        border-bottom 1px solid #fff
        +tablet()
            width 50%
        +mobile()
            width 100%
            border-right none
        img
            display block
            width 100%
        .overlay
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba(#707070, .8)
            transition opacity .3s
            opacity 0
            +below($tablet)
                background rgba(#707070, .7)
                opacity 1
            p
                position relative
                top 50%
                display block
                width 100%
                padding 0 15px
                transform translateY(-50%)
                margin 0
                text-align center
                montserrat 18
                color #fff
                span
                    display block
                    play 12
                    margin-top 5px
        &:hover .overlay
            opacity 1

.projetos-show
    padding-bottom 70px
    +tablet()
        padding-bottom 45px
    +mobile()
        padding-bottom 30px
    .center
        clearfix()
    .main-box
        background #F3F3F3
        margin-bottom 80px
        +tablet()
            margin-bottom 65px
        +mobile()
            margin-bottom 20px
            margin-top 15px
        clearfix()
        .info
            width 27.27%
            float left
            padding 40px
            +tablet()
                padding 25px
            h2
                montserrat 18
                margin 0 0 30px
            p
                margin 0
                montserrat 12
                line-height 1.5
            +mobile()
                padding 22px
                width 100%
                h2
                    font-size 17px
                    margin-bottom 10px
        .projeto-imagens-destaque
            width 72.73%
            height 0
            padding-bottom 47.73%
            float left
            position relative
            +mobile()
                width 100%
                padding-bottom 65.6%
            img
                position absolute
                display block
                top 0
                left 0
                width 100%
                height auto
            .cycle-pager
                position absolute
                width calc('100% - 45px')
                bottom -20px
                +mobile()
                    display none
                a
                    display block
                    float left
                    width 10px
                    height 10px
                    background #7F7E80
                    border-radius 100%
                    margin-right 4px
                    text-indent -9999px
                    transition background .3s
                    &.cycle-pager-active
                        background $laranja
            .cycle-control
                position absolute
                width 30px
                height 30px
                background rgba(#fff, .5)
                top 50%
                transform translateY(-50%)
                z-index 102
                transition background .3s
                play 11
                text-align center
                line-height 30px
                &:hover
                    background $laranja
                &.cycle-next
                    right 0
                &.cycle-prev
                    left 0
                +below($tablet)
                    width 40px
                    height 40px
                    background $laranja
                    line-height 40px
                +mobile()
                    &.cycle-next
                        right -4%
                    &.cycle-prev
                        left -4%
            .projetos-amplia-destaques
                display block
                position absolute
                right 0
                bottom -22px
                width 20px
                height 16px
                background $img('ampliar.png') no-repeat center
                opacity .5
                transition opacity .3s
                &:hover
                    opacity 1
                +mobile()
                    display none
    .perspectiva
        width 72.73%
        float right
        margin-bottom 45px
        +mobile()
            width 100%
            margin 10px 0 25px
    .conceito
        width 27.27%
        float left
        clear right
        padding 0 40px
        +tablet()
            padding 0 25px
        +mobile()
            padding 0
            margin-bottom 20px
    .desafios
    .projeto-imagens
        width 72.73%
        float right
    .conceito
    .desafios
        +mobile()
            width 100%
        h4
            montserrat 14
            color #808080
            margin 0 0 15px
        p
            play 14
            margin 0
    .projeto-imagens
        margin-top 30px
        +mobile()
            width 100%
            margin-top 20px
            a
                display block !important
        a
            display inline-block
            margin 0 10px 10px 0
            position relative
            +below($tablet)
                margin 0 6px 6px 0
            img
                display block
                +tablet()
                    height 165px
                +mobile()
                    max-width 100%
            &:hover:after
                opacity .8
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background #707070
                opacity 0
                transition opacity .3s
                +mobile()
                    display none
    .mais-projetos
        width 100%
        float left
        border-top 1px solid #B2B2B2
        margin-top 70px
        +tablet()
            margin-top 50px
        +mobile()
            margin-top 30px
        h4
            montserrat 14
            color #808080
            margin 20px 0
        a
            display block
            width 20%
            float left
            border-right 1px solid #fff
            position relative
            +mobile()
                width 50%
                border-bottom 1px solid #fff
            &:last-child
                border none
            img
                width 100%
                display block
                filter grayscale(100%)
                -webkit-filter grayscale(100%)
            &:hover img
                filter none
                -webkit-filter none

.hidden
    display none

.fancybox-close
    width 20px
    height 20px
    top -30px
    right 0px
    background none
    &:before
    &:after
        content ''
        width 20px
        height 1px
        background #fff
        position absolute
        top 10px
    &:before
        transform rotate(45deg)
    &:after
        transform rotate(-45deg)

.fancybox-nav
    &:hover span
        background $laranja
    span
        visibility visible
        width 30px
        height 30px
        background rgba(#fff, .5)
        margin-top -15px
        play 11
        transition background .3s
        color #000
        &:after
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            line-height 30px
            text-align center
    &.fancybox-next span
        right 0
        &:after
            content '\27F6'
    &.fancybox-prev span
        left 0
        &:after
            content '\27F5'

.fancybox-title
    width 100%
    left 0
    right auto
    .child
        margin 0
        display block
        width 100%
        background none
        padding 0
        clearfix()
        span:first-child
            float left
            text-align left
            montserrat 16
            line-height 1
            +mobile()
                text-align center
                width 100%
        span:last-child
            float right
            text-align right
            play 14
            line-height 1
            padding-bottom 4px
            +mobile()
                display none
