.servicos
    width 100%
    .center
        clearfix()
    h2
        montserrat 30
        margin 0 0 15px
        +mobile()
            font-size 22px
            margin 15px 0
        +tablet()
            font-size 24px
    .texto
        width 44%
        float left
        +tablet()
            width 100%
        +mobile()
            width 100%
        p
            play 14
            margin 0
            + p
                margin-top 1em
    .imagens
        width 51.36%
        float right
        margin-top 5px
        +mobile()
            width 100%
            margin 1em 0 0
        +tablet()
            width 100%
            max-width 565px
            float left
            margin-top 20px
        clearfix()
        img
            display block
            height auto
            float left
            &:first-child
                width 61.061%
            &:last-child
                width 38.938%
    .servicos
        width 100%
        float left
        margin 30px 0 60px
        font-size 0
        display flex
        flex-wrap wrap
        +mobile()
            margin 20px 0
            display block
        clearfix()
        .servico
            display inline-block
            vertical-align top
            background #F2F2F2
            width 32.72%
            margin-right .92%
            margin-bottom .92%
            &:nth-child(3n)
                margin-right 0
            padding 25px
            text-align center
            h4
                montserrat 16
                margin 0
            .imagem
                position relative
                width 170px
                height 170px
                margin 15px auto
                background-color #fff
                background-repeat no-repeat
                background-position center
                border-radius 100%
            .descricao
                play 14
                p
                    margin 0
                    + p
                        margin-top .5em
                    &:before
                    &:after
                        margin 0 4px
                        color $laranja
                    &:before
                        content '\00BB'
                    &:after
                        content '\00AB'
            +mobile()
                width 100%
                margin 0 0 10px
            +tablet()
                width 49.54%
                &:nth-child(2n)
                    margin-right 0
                &:nth-child(3n)
                    margin-right .92%
